#mobile-menu {
    padding: 30px;
    background-color: #fffffffb;
    position: absolute;
    width: 100%;
    top: 80px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    ul {
        margin: 40px 0;
        text-align: center;
        list-style-type: none;
        li {
            a {
                @include links;
                color: $black;
                font-size: 25px;
                display: block;
                text-transform: uppercase;
                margin-bottom: 35px;
            }
            a:hover {
                color: $lightgreen;
            }
        }
    }
}
